name: Links Checker

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
      - cron: "0 0 1,15 * *" # twice a month

jobs:
  link-checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v1.10.0
        with:
          fail: true
          args: --accept '100..=103,200..=299,403'